@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
body {
  font-family: "Poppins", sans-serif;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.all-btn {
  background: #e02c6d;
  color: aliceblue;
  border: 0;
  padding: 10px 15px;
}

/* header related styles */
.header-section {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 50px 120px;
}
.header-name{
    color: #3A3A3A;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
ul li {
  margin-left: 30px;
  font-weight: 700;
  color: #3a3a3a;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 30px;
}
.banner-content {
  width: 60%;
}
.banner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 50px;
}
.banner-desc {
    color: #3A3A3A;
    font-weight: 700;
}
